<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <ion-item>
    <ion-label>Background Tracking:</ion-label>
    <ion-checkbox [(ngModel)]="backgroundTrackingEnabled" (ionChange)="updateBackgroundTracking()"></ion-checkbox>
  </ion-item>

  <button ion-button round outline (click)="scheduleNotification()">Schedule Notification</button>

  <ul *ngIf="coordinates.length > 0">
      <li *ngFor="let coordinate of coordinates">
        {{ coordinate.longitude }} is {{ coordinate.latitude }}
      </li>
  </ul>

  <h3>Background</h3>
  <ul *ngIf="backgroundCoordinates.length > 0">
    <li *ngFor="let coordinate of backgroundCoordinates">
      {{ coordinate.longitude }} is {{ coordinate.latitude }}
    </li>
</ul>

  <button ion-button secondary menuToggle>Toggle Menu</button>

  <button ion-button secondary (click)="clicked()"></button>
</ion-content>
